<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
	<meta charset="utf-8">
	<title>Mi primera página con AngularJS</title>
	<script type="text/javascript" src=""></script>
	<script type="text/javascript" src="angular-local-storage.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</head>
<body ng-controller="ToDoController">
	<ul>
		<li ng-repeat="actividad in todo">
			{{ actividad.descripcion }} -
			{{ actividad.fecha | date: 'short' }}
		</li>
	</ul>
	<form ng-submit="addActividad()">
		<input type="text" ng-model="newActividad.descripcion">
		<input type="datetime-local" ng-model="newActividad.fecha">
		<input type="submit" value="Guardar">
	</form>
	<button ng-click="clean()">Limpiar</button>
</body>
</html>